#grocery_app {
	margin:	auto;
	width:	500px;
	border:	5px solid #BBB;
	background: url('images/lined_paper.png');
	font-family: cursive;

}

#container {
	margin:	auto;
	margin: 0px 10px;
}

#output_box {
	min-height:	100px;
	margin-top:	3px;
	margin-left:	40px;
}

#input_text {
	width:	150px;
}

.inputs {
	float:	left;
	width:	50px;
	margin-left: 20px;
}

.green {
	background:	green;
}